/* Empty. Add your own CSS if you like */
/*-----------------Home Page--------------------*/
#body {
  font-size:16px;
}

#ottawaZine{
   font-family: 'Capture';
    font-size:20px;
/*    text-align: center;*/
}

#articelId{
  font-family: 'stliti';
  border-bottom: 1px solid #cccccc;
  font-size:16px;
}

#articelDate{
    font-family:'stliti'; 
    font-size: 16px;
    color:#404040;
    padding-left: 3%;
}

#articleTitle{
    font-family: 'stliti';
    font-size: 18px;
    color:#000000;
    text-align: center;  
    border:1px dashed;
    border-radius: 8px;
    border-color: grey;
    box-shadow: 2px 2px 2px #888888;
    
}

#like{
    font-family: 'stliti';
    font-size: 14px;
    color: white;
    text-justify: "distribute-all-lines";
    text-align-last:justify;    
    background-color: #709FCF;
    border-radius: 5px;
}

/*-----------------Article Page--------------------*/
#dateDiv{
  height:36px;
  border-bottom: 1px solid #cccccc;
}

#modalMore{
    width:100px;
}

#headRateHeart {
   /* position: relative;
    left:75%;
    height: 20px;
    border-radius: 15px;   */  
    font-size: 16px;  
    height:15px;
    
}

.thumb {
    height: 70px;
  }

#authorInfoTitle{
    height:100px;
    font-size:15px;   
    line-height: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-weight: bold; 
}

#iconrow {
    height:100px;
    text-align: center;
}

#articlecontent{
    border-bottom: 1px dashed grey;
}

/*-----------------------------Yell Page-----------------------------------------*/

#yellVol{
  font-family: 'stliti';
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
}

#yellContentBlock{
/*    border-bottom: 1px solid #eee;*/
}

.usericonthumb{
  height:46px;
}

#yelluserinfo{
  border: 2px dotted #6699cc;
  color: #2179bd; 
  font-size:14px;
  line-height: 17px;
  vertical-align: bottom;
  margin-top: 10px;
  border-radius: 8px;
}

#yellcontent{
  margin-top: 6px;   
  font-size: 14px;   
  color: #336666; 
}

#yellLikeBlock{
  margin-top: 2px; 
  border-bottom: 1px solid #eee;
}

#yellLike{  
   font-size:16px;
   text-align:right;  
}

#rateHeart{     
    text-align: right;
    font-size: 16px;    
}

.customHeartStyle{
    color:#FF0066;
}

.loadingres {
/*
        background: white no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-size: 160px  90px;
*/    
}

@font-face {
    font-family: 'stliti';
    src:url('../font/stliti/STLITI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Capture';
    src:url('../font/Capture-it/Capture_it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Pacifico';
    src:url('../font/pacifico/Pacifico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arizonia';
    src:url('../font/arizonia/Arizonia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amaranth';
    src:url('../font/amaranth/Amaranth-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MiscrosoftJian';
    src:url('../font/MiscrosoftJian/MiscrosoftJian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MicrosoftKai';
    src:url('../font/MicrosoftKai/MicrosoftKai.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
